body {
 background-image: url(../img/3.jpg);
font-family: 'Times New Roman', Times, serif;
font-size: 14pt;
    }
    .entry-wrapper {
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
flex-wrap: wrap;
    
 margin-bottom: 40px;
position: relative;
    }
    h1 {
 text-align: center;
 color: rgb(117, 134, 144);
border: 4px double black;
background: rgb(51, 255, 252); /* Цвет фона */
padding: 10px;
    }
    .first {
color: rgb(117, 134, 144);
font-weight: bold;
border-bottom: 3px solid darkblue;
text-align: end;
    }
    .entry {
 width: 600px;
    }
    img {
 width: 480px;
    }
    p {
    line-height: 1.25;
    margin-bottom: 1em;
    text-align: justify;
    text-indent: 20px;
    }